<div class="row">
  
  <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="">
      
      <div class="curved-hz-2">
        <h3 style="text-align:left;">Клиника «Три-З» <span style="color:#3483a5;">Краснодар</span></h3>
      </div>
      
      <!-- <HR NOSHADE style="margin: 7px 0px 20px 0px;"> -->
      
      <div class="curved-hz-2">
        <div class="information">
          <h4 style="text-align:center;"><strong>Счастье – видеть!</strong></h4>               
          <p class="stylep"><%= link_to image_tag("gkd.png", class: "leftimg img-thumbnail"), '#' %>Гурджиян Карина Дмитриевна, главный врач клиники:</p>
          <p class="stylep">«Счастье – видеть! Это не пафосные слова. Это то, чем наша клиника занимается 10 лет. Дарить людям счастье видеть близких, окружающий мир, возвращать молодых и пожилых пациентов к активной жизни – это наше призвание. За 10 лет работы наша клиника завоевала авторитет и доверие людей потому что все наши знания, опыт, профессионализм, чуткость и внимание мы отдаем нашим пациентам.</p>
          <p class="stylep">Если 10 лет назад «Три-З» организовывался, как многопрофильный медицинский центр, то с 2006 года – это успешно развивающаяся первая частная офтальмологическая клиника, принявшая только за 2012 год более 33 тысяч пациентов с различной глазной патологией. Перенимая европейский опыт, изначально офтальмологическая клиника позиционировалась как «Клиника хирургии одного дня». Великолепное оснащение диагностическим и хирургическим оборудованием, внедрение суперсовременных технологий позволило подняться клинике на одну ступеньку с ведущими европейскими клиниками.</p>
          <p class="stylep">Имея в нашем арсенале клиническую лабораторию, терапевтическую и анестезиологическую, реанимационную службу, мы единственные в крае предоставляем услугу «Диагностика и операция в 1 день», что очень удобно пациентам и их родственникам.</p>
          <p class="stylep">Быстрое развитие клиники и растущий авторитет позволили открыть нам сеть диагностических филиалов по Краснодарскому краю.</p>
          <p class="stylep">Большой радостью для меня и моих коллег было открытие в 2012 году офтальмологической диагностико-хирургической клиники «Три-З» г.Ессентуки с сетью филиалов в Ставрополье и Северокавказских республиках.</p>
          <p class="stylep">Все мы – врачи, медперсонал, менеджеры – работаем по принципу «Его Величество пациент». Отдавая свой профессионализм, лучшие качества души - мы добились полного доверия наших пациентов, возвращая им самое дорогое – зрение!»</p>
        </div>

        <p class="stylep" style="text-align:right;padding-right:40px;"><%= image_tag "signature.png" %></p>
        <p class="stylep" style="text-align:right;padding-right:20px;"><strong>Гурджиян Карина Дмитриевна</strong></p>
        <p class="stylep" style="text-align:right;padding-right:20px;"><strong>Главный врач клиники, врач высшей категории</strong></p>
      </div>

      <!-- <HR NOSHADE style="margin: 7px 0px 20px 0px;"> -->
      
      <div class="row">
        
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="curved-hz-2">
            <h4 style="text-align:center;"><strong>Клиника «Три-З» несет ответственность</strong></h4>
            
            <p class="stylep">перед своими пациентами:</p>
            <ul class="first-ul">
              <li style="margin: 3px;">за применение наиболее современных, эффективных и безопасных методов диагностики и лечения;</li>
              <li style="margin: 3px;">за обеспечение максимального комфорта и предоставления международных стандартов качества лечения каждому пациенту;</li>
              <li style="margin: 3px;">за соблюдение высоких морально-этических норм и конфиденциальность лечебного процесса;</li>
            </ul>

            <p class="stylep">перед своим коллективом:</p>
            <ul class="first-ul">
              <li style="margin: 3px;">за обеспечение достойных и безопасных условий работы, справедливой заработной платы и возможности для профессионального роста;</li>
            </ul>

            <p class="stylep">перед государством:</p>
            <ul class="first-ul">
              <li style="margin: 3px;">за внесение своего вклада в оздоровление нации, улучшение качества и продолжительности жизни граждан.</li>
            </ul>
          </div>
        </div>  

        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="curved-hz-2">
            <h4 style="text-align:center;"><strong>Наша миссия</strong></h4>
            <div class="">
              <p class="stylep">Помочь людям восстановить и сохранить здоровье, предлагая качественные медицинские услуги, современные безопасные технологии и методы диагностики и лечения. Не забывая богатую историю своей профессиональной деятельности, стремиться обеспечить высокое качество медицинской помощи и безупречный сервис.</p>
            </div>
          </div>
        </div>        

      </div>


      <br>
   
      <p class="stylep" style="margin-bottom:20px;"><strong>Партнер клиники «Три-З» - <%= link_to "http://organum-visus.com/", 'http://organum-visus.com/' %></strong></p>
    

    </div>

  </div>

</div>