<div class="row">
  
  <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="">
      
      <div class="curved-hz-2">
        <h3 style="text-align:left;">История офтальмологической клиники «Три-З»</h3>
      </div>
      
      <!-- <HR NOSHADE style="margin: 7px 0px 20px 0px;"> -->
      
      <div class="curved-hz-2">        
        
        <p class="stylep">6 октября 2003 года в здании на улице Стасова 115/1 открылся первый в Краснодаре частный многопрофильный медицинский центр «Три-З». Руководители – муж и жена Инна Владимировна и Феликс Шакирович Гамзаевы. Он дерматовенеролог, она – офтальмолог, оба - кандидаты медицинских наук. За плечами – богатый практический опыт работы, в мыслях – желание создать что-то принципиально новое, то, чего в Краснодаре еще не было. </p>        
        
        <p class="stylep">Тогда в стенах одной клиники было объединено все - офтальмология, лаборатория, гинекология, урология, дерматология, УЗИ… Почему «Три-З»? — спросите вы. Потому что в названии заложено три ключевых слова, которые вместе расшифровываются, как «Здесь Здание Здоровья».</p>

        <br>

        <p style="text-align:center;"><%= image_tag("open.png", class: "img-thumbnail") %></p>
        
      </div>

      <!-- <HR NOSHADE style="margin: 7px 0px 20px 0px;"> -->
      
      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="curved-hz-2">
            <ul class="first-ul">
              <li style="margin: 3px;">2006 год – разделение многопрофильного центра «Три-З» на разные структурные подразделения: офтальмологическую клинику «Три-З», многопрофильный центр CityClinic и независимую сетевую лабораторию CityLab;</li>
              <li style="margin: 3px;">2008 год – открытие детского офтальмологического центра «ТриЗор»;</li>
              <li style="margin: 3px;">2009 год – открытие первых двух филиалов офтальмологической клиники «Три-З» в городах Армавире и Новороссийск;</li>
              <li style="margin: 3px;">март 2011 – переезд «Три-З» в здание на ул.Красных Партизан,18;</li>
              <li style="margin: 3px;">август 2011 - первая операция с имплантация факичной линзы Cachet (Alcon);</li>
              <li style="margin: 3px;">2009-2012 годы – открытие еще 14 филиалов и представительств клиники «Три-З» в Краснодарском крае и г. Пятигорске;</li>
              <li style="margin: 3px;">май 2012 - открытие офтальмологической клиники «Три-З» г. Ессентуки с полноценным хирургическим отделением;</li>
              <li style="margin: 3px;">июнь 2012 – открытие офтальмологического центра в г. Нальчик;</li>
              <li style="margin: 3px;">февраль 2013 – открытие филиала «Три-З» в г. Краснодаре на ул.Ставропольской и офтальмологического центра в г. Черкесск;</li>
              <li style="margin: 3px;">октябрь 2013 - открытие филиала «Три-З» в г. Краснодаре на ул.40 лет Победы и офтальмологического центра в г. Славянске-на-Кубани, г.Анапе;</li>
              <li style="margin: 3px;">январь 2014 - открытие офтальмологической клиники «Три-З» г. Пермь с полноценным хирургическим отделением.</li>
            </ul>
          </div>
        </div> 
        
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="curved-hz-2">
            <h4 style="text-align:center;"><strong>Клиника «Три-З» сегодня</strong></h4>
            
            <p class="stylep">Сегодня «Три-З» представляет из себя самую большую в ЮФО сеть современных офтальмологических центров. В ее составе 16 диагностических филиалов и 2 крупные клиники в городах Краснодар и Ессентуки, которые предлагают современные технологии и методы лечения различных глазных заболеваний. В том числе такую прогрессивную методику эксимерлазерной коррекции близорукости, дальнозоркости и астигматизма, как Femto LASIK – 100% лазерная операция, которая позволяет восстановить не только высокую остроту, но и высочайшее качество зрения: четкость, яркость, контрастность.</p>

            <p class="stylep">В клиниках и филиалах «Три-З» работают опытные специалисты, врачи высшей категории, доктора и кандидаты медицинских наук, которые активно внедряют на Кубани новейшие достижения мировой офтальмологии, делая их доступными для наших пациентов. За их плечами десятки лет практики и около 60 000 операций по восстановлению зрения. Техническое оснащение клиник – это современное оборудование от ведущих мировых производителей Европы, США и Японии (Alcon, Zeiss, Nidek, Baush&Lomb, Schwind и др.). Это позволяет провести точную диагностику и выполнить операцию на высоком уровне, добившись максимальных показателей для каждого пациента.</p>

            <p class="stylep">Все это ставит сеть клиник «Три-З» в ряд ведущих частных офтальмологических центров страны. И позволяет каждый день оказывать нашим пациентам качественную офтальмологическую помощь европейского уровня, даже в самых сложных случаях.</p>
            
          </div>
        </div>         

      </div>      

    </div>

  </div>

</div>