<div class="row">
  
  <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="curved-hz-2">
        <h3 style="text-align:left;">В лето с модными очками!</h3>
      </div>

      <!-- <HR NOSHADE style="margin: 7px 0px 20px 0px;"> -->
      
      <div class="curved-hz-2">
        
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4 class="media-heading"><small><i>21 Апреля 2014</i></small></h4>            
            <div class="media">
              
              <div class="col-md-4 col-sm-12 col-xs-12">
                <p style="text-align:center;"><%= image_tag("mln.png", class: "img-thumbnail") %></p>
              </div>
              <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="media-body">            
                  <h4 class="media-heading" style="line-height:1.4285em;text-align:justify;"><span style="color:#3483a5;">Только до 30 июня 2014 года в салонах оптик «Три-З» г. Краснодара модные коллекции солнцезащитных очков от ведущих мировых брендов Gucci, Prada, Rаy-Ban, LACOSTE со скидкой 50%.</span></h4>
                  <p class="stylep" style="margin:0;">Самое время подумать о солнцезащитных очках пока цены на них максимально выгодные. Только до 30 июня 2014 в салонах-оптиках «Три-З» известные бренды Swarovski, Prada, Dolce Gabbana, Ferre, Gucci, Linda Farrow, Rаy-Ban, LACOSTE со скидкой 50%.</p>
                  <p class="stylep" style="margin:0;">Огромный выбор солнцезащитных очков – более 1000 моделей, стильные мужские и женские коллекции, а также на очки для детей. Все продукция сертифицирована.</p>
                  <p class="stylep" style="margin:0;">Готовьтесь к лету: выбирайте модные солнцезащитные очки с большим дисконтом! Со всеми подробностями специального предложения можно ознакомиться в салонах оптик «Три-З».</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <HR NOSHADE style="margin: 20px 0px 20px 0px;">

        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12" id="contactLayer">
            <h4 class="media-heading" style="line-height:1.4285em;text-align:center;"><span style="color:#3483a5;">г. Краснодар, ул. Красных Партизан, 18, (861) 220-11-82</span></h4>
            <div class="well" id="centerLayer">
              <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=7p8ku6PZ_JatE2bnNQRE1MVBy5idlrgW"></script>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <h4 class="media-heading" style="line-height:1.4285em;text-align:center;"><span style="color:#3483a5;">г. Краснодар, ул. Ставропольская, 252, (861) 235-69-50</span></h4>
            <div class="well" id="centerLayer1">
              <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=kSvie0WGMeivaFckdOty1iK6pgO_WjGZ"></script>
            </div>
          </div>
        </div>

      </div>      

  </div>

</div>