<footer class="footer">

  <nav class="navbar navbar-default navbar-static-bottom" role="navigation">
    <p class="navbar-text">&copy Copyright 2013</p>
    <p class="navbar-text navbar-right" style=""><a href="http://www.script-tutorials.com/">Script Tutorials</a></p>
  </nav>

  <% if Rails.env.production? %>  
  <!-- Yandex.Metrika counter -->
  
  <!-- /Yandex.Metrika counter -->
  <% end %>
</footer>