<div class="main-header">
  <div class="container" style="" id="titleContainer">
      
    <div class="row">
      <!-- <h1 class="classh1"></h1> -->
      <div class="col-md-3 col-sm-6" style="text-align:center; margin-top:8px; margin-bottom:8px;">
        <%= link_to image_tag("pic_f2.png", style: "max-width: 350px"), '#' %>        
      </div>
      <div class="col-md-3 col-sm-6" style="text-align:center; margin-top:8px; margin-bottom:8px;">
        <%= link_to image_tag("pic_f4.png", style: "max-width: 350px"), '#' %>        
      </div>
      <div class="col-md-3 col-sm-6" style="text-align:center; margin-top:8px; margin-bottom:8px;">
        <%= link_to image_tag("pic_f3.png", style: "max-width: 350px"), '#' %>        
      </div>
      <div class="col-md-3 col-sm-6" style="text-align:center; margin-top:8px; margin-bottom:8px;">
        <%= link_to image_tag("pic_f1.png", style: "max-width: 350px"), '#' %>        
      </div>
    </div>
    
  </div>
</div>
