<!-- slider -->
<div id="slider" class="carousel slide" data-ride="carousel" data-interval="10000">
  <!-- controls -->
  <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <!-- slides -->
    <div class="item active">
      <div class="container">
        <div class="carousel-caption" id="cap1">
          <div class='inner-item'>
            <%= link_to image_tag("g10.png", width: "100%"), '#' %>
          </div>
          <p><a class="btn btn-lg btn-danger" href="#" role="button">Подробнее</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption" id="cap2">
          <h1 class="classh1">Дарим 10 000 руб. на лазерную коррекцию близорукости <br> по технологии FEMTO</h1>
          <p><a class="btn btn-lg btn-danger" href="#" role="button">Подробнее</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption" id="cap3">
          <h1 class="classh1">Lorem ipsum - 3</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet tempus massa. Nam quis purus sit amet augue iaculis dapibus non in nisi.<br />Sed sed volutpat neque. Nulla posuere.</p>
          <p><a class="btn btn-lg btn-warning" href="#" role="button">Button 3</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- left-right controls -->
  <a class="left carousel-control" href="#slider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#slider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
