<!-- slider -->
<div id="slider" class="carousel slide" data-ride="carousel" data-interval="10000">
  <!-- controls -->
  <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <!-- slides -->
    <div class="item active">
      <div class="container">
        <div class="carousel-caption" id="cap1">
          <div class='inner-item'>
            <%= link_to image_tag("g10.png", width: "100%"), '#' %>
          </div>
          <p><a class="btn btn-lg btn-danger" href="#" role="button">Подробнее</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption" id="cap2">
          <h1 class="classh1">Дарим 10 000 руб. на лазерную коррекцию близорукости <br> по технологии FEMTO</h1>
          <p><a class="btn btn-lg btn-danger" href="#" role="button">Подробнее</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption" id="cap3">
          
          <div class="row">
          <!-- <h1 class="classh1"></h1> -->
          <div class="col-md-4">
            <div class='inner-item'>
              <%= link_to image_tag("d10.png", style: "max-width: 250px"), '#' %>
            </div>
          </div>
          <div class="col-md-8" style="vertical-align:middle;">
            <p>Долой очки и контактные линзы! Только с 15 марта по 30 апреля мы дарим вам беспрецедентную скидку - 10 000 рублей на эксимерлазерную коррекцию зрения по технологии Femto LASIK</p>
          </div>        
        </div>

        </div>
      </div>
    </div>
  </div>
  <!-- left-right controls -->
  <a class="left carousel-control" href="#slider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#slider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
